//Default colors
$blue: #00c8c8;
$grey: #333333;
$midgrey: #777777;
$midlightgrey: #e7e7e7;
$lightgrey: #f8f8f8;
$lightred: #fcf6f7;
$red: #bb5465;
$white: #fff;

//Default fonts
$head-font: 'Montserrat',
sans-serif;
$body-font: 'Roboto',
sans-serif;

//Default sizes
$container-size: 970px;